.titulo_playerguther{
 padding-top:5px;
 border-top:1px solid #808080;
 margin-top:5px !important;
}
#pwidget{
  background-color:lightgray;
  width:296px;
  padding:2px;
  border-radius:3px;
  text-align:left;
  /*border:1px solid gray;	*/
}
li#player_mp3_guther-3.widget #progressbar{
  width:292px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:2px;
}
#indicator{
  width:0;
  background:#f00;
  height:2px;
  margin:0;
}
#progressnum{
  text-align:center;
  width:154px;
  display:none;
}